wait
public/
mysql_data/
postgres_data/
*.key
*.cer
*.crt
*.csr
*.srl
bin/
include/
lib/
local/
share/
.env
_init/auth/oauthserver-prod.json
_init/content/contentserver-prod.json
docker-compose.yml
/config.yml
