wait
public/
mysql_data/
_init/nginx/certs/*.key
_init/nginx/certs/*.cer
bin/
include/
lib/
local/
share/
.env
_init/auth/oauthserver-prod.json
_init/content/contentserver-prod.json
docker-compose.yml
config.yml