#! THIS FILE USING YTT(https://github.com/k14s/ytt/) FORMAT
#! this is a general config for all related stuffs
#@data/values
---
#! TODO user docker+ytt and docker+yq => docker-yq yq r config.yml.sample  nginx.listener

#! make sure you create $PERSISTENCEPATH/public and $PERSISTENCEPATH/mysql_data
#!  and chmod a+w $PERSISTENCEPATH/public
#! if PERSISTENCEPATH is relative, it relate with docker-compose.yml
persistencepath: .

#! latest tested version is : v1.167.1
fxa_version: "latest" #! by default we use latest , if there's any problem use the last stable version.

option:
  #! do we need firefox send?
  with_send: true
  #! both with_notes and with_webext_storagesync need kinto server and it's postgres
  with_notes: false
  with_webext_storagesync: false


#! domain name related stuff
domain:
  #! base name
  name: "fxa.example.local"
  #! for content-server
  content: "www" 
  auth: "api"
  oauth: "oauth"
  #! for profile server
  profile: "profile"
  #! for syncserver
  sync: "token"
  #! for firefox send 
  #! must if option.with_send == true
  send: "send"

nginx:
  #! port or ip/port 
  #! for those who want to reverse proxy ( and then we do not a host resolver ,because we just proxy_pass ip/port )
  listener: "443"
  #! if false certs are not required and another fxa_nossl.conf is used
  ssl: true

  certs:
    wild:
      cert:
      key:
    content:
      cert:
      key:
    auth:
      cert:
      key:
    oauth:
      cert:
      key:
    profile:
      cert:
      key:



mail:
  #! types are  "localhelper" ,  "localrelay" ,"3rd"
  #! "localhelper" uses fxa-auth-local-mail-helper
  #! "localrelay" use exim-sender
  #! "3rd"  send mail to 3rd (like gmail etc)
  type: "3rd"
  #! common parts
  #! smtp host "localhelper" : fxa-auth-local-mail-helper "localrelay": exim-sender "3rd": refer to your mail service provider
  smtp_host: "exim-sender"
  #! "localrelay" must be 25 
  smtp_port: 25
  smtp_user:
  smtp_pass:
  smtp_secure:

  #! only for "localhelper"
  #! web api
  localhelper:
    web: "127.0.0.1:9001"



#! CHANGE OPTIONALLY
#! if using default value ,  it will be changed in init.sh via yq
secrets:
  pushboxkey: "YOUR_LONG_ENOUGH_RANDOM_STRING"

