gzip on;
gzip_types
	text/css
	text/javascript
	text/xml
	text/plain
	text/x-component
	application/javascript
	application/x-javascript
	application/json
	application/xml
	application/rss+xml
	application/atom+xml
	font/truetype
	font/opentype
	application/vnd.ms-fontobject
	image/svg+xml;



server {
	server_name ${CONTENT}.${NGINX_DOMAIN_NAME};
	listen 443 ssl;
	ssl_certificate /certs/content.cer;
	ssl_certificate_key /certs/content.key;

	location / {
		proxy_pass http://fxa-content-server:3030;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	}
	location /favicon.ico {
		proxy_pass http://fxa-content-server:3030/favicon.ico;
	}

}

server {
	server_name ${AUTH}.${NGINX_DOMAIN_NAME};
	listen 443 ssl;
	ssl_certificate /certs/auth.cer;
	ssl_certificate_key /certs/auth.key;

	location / {
		proxy_pass http://fxa-auth-server:9000;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	}

}

server {
	server_name ${OAUTH}.${NGINX_DOMAIN_NAME};
	listen 443 ssl;
	ssl_certificate /certs/oauth.cer;
	ssl_certificate_key /certs/oauth.key;

	location / {
		proxy_pass http://fxa-auth-server:9000;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	}

}


server {
	server_name ${PROFILE}.${NGINX_DOMAIN_NAME};
	listen 443 ssl;
	ssl_certificate /certs/profile.cer;
	ssl_certificate_key /certs/profile.key;

	location ^~/img/ {
		proxy_pass http://fxa-profile-static:1112/;
	}

	location / {
		proxy_pass http://fxa-profile-server:1111;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	}
}

server {
	server_name ${SYNC}.${NGINX_DOMAIN_NAME};
	listen 443 ssl;
	ssl_certificate /certs/sync.cer;
	ssl_certificate_key /certs/sync.key;

	location / {
		proxy_pass http://syncserver:5000;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	}
}
