server {
    server_name ${GRAPHQL}.${NGINX_DOMAIN_NAME};
    listen 443 ssl;
    listen [::]:443 ssl;
    ssl_certificate /certs/graphql.cer;
    ssl_certificate_key /certs/graphql.key;

    location / {
        proxy_pass http://fxa-graphql-api:8290;
    }
}

