server {
    server_name ${KINTO}.${NGINX_DOMAIN_NAME};
    listen 443 ssl;
    listen [::]:443 ssl;
    ssl_certificate /certs/kinto.cer;
    ssl_certificate_key /certs/kinto.key;


    location / {
            proxy_pass http://kinto:8888;
    }
}
